html , body {
    min-height:100vh;  
    height:100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 00px; 
}

.container .row .col-md-6 { 
    height: 100vh;
    overflow: auto;  
  } 

label {
    display: inline-block;
    clear: left;
    width: 300px;
    /* text-align: right; */
}
.nav-style{
    background-color: #188751;
}
.nav-style .nav-style-item{
    background-color: inherit;
}
li a{
    color: black;
}
.sidebar-style:hover{
    background-color: #cfcfcf;
}

input {
    display: inline-block;
}
/* canvas{

    width:750px !important;
    height:350px !important;
  
  } */

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    /* color: #818181; */
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-container {
    /* display: none; */
    /* background-color: #1d6e21; */
    padding-left: 8px;
  }


